<div class="uk-padding">

    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">التسجيل</h3>
    
  <form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="البريد الإلكترونى" name="email" [(ngModel)]="email">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="password" placeholder="كلمة المرور" name="password" [(ngModel)]="password">
        </div>


        <div class="uk-margin">
            <button class="uk-button uk-button-primary">تسجيل</button>
        </div>

    </fieldset>
  </form>

</div>

</div>
